NEXT_PUBLIC_AFFILIATE_ADDRESS=0xaa86b91a7c2366dd2a7000c7ebf69223e1fa8f8a
NEXT_PUBLIC_WALLETCONNECT_ID=2f82a1608c73932cfc64ff51aa38a87b # get your own project ID - https://cloud.walletconnect.com/sign-in
NEXT_PUBLIC_BASE_URL=https://prediktmarkets.com
NEXT_PUBLIC_COMPANY_NAME="Predikt Markets"
NEXT_PUBLIC_PRIVY_APP_ID=cm1p6gkel04f362oq6bxn2nal
NEXT_PUBLIC_DOCS_URL=
NEXT_PUBLIC_TERMS_URL=
NEXT_PUBLIC_POLICY_URL=
NEXT_PUBLIC_FAQ_URL=
NEXT_PUBLIC_SPORTS_APP_URL=https://bet.prediktmarkets.com
NEXT_PUBLIC_PREDIKTS_APP_URL=https://app.prediktmarkets.com
AZURO_UNSTABLE_DEV_ENABLED=true
